

.faqItemContainer {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #818080;
  }
  
  .question {
    font-weight: bold;
    font-size: 1.2rem; 
    color: #00356f;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    width: 700px;
  }
  .questionActive{
    color: #00a2ff;
  }
  
  .icon {
    font-size: 1.5rem; 
    color: #00a2ff;
    cursor: pointer;
    margin-left: 200px;
  }  
  
  .iconActive {
    color: #dddada;
  }
  
  .answer {
    font-size: 0.85rem;
    max-height: 0;
    overflow: hidden;
    color: #243244;
    transition: max-height 1.5s ease;
    width: 450px;
  }
  
  .answerVisible {
    max-height: 200px; 
    transition: max-height 1.5s ease;
  }
  .background {
    background: rgba(134, 130, 130, 0.26);
    width: 70vw; 
    border-radius: 10px;
  }
  

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #20b6ea;
    font-size: 1.875rem;
    font-weight: bold;
  }
  
  .titleText {
    border-bottom: 2px solid #bcbcbc;
    padding-bottom: 4px;
  }
  
  .faqContainer {
    width: 600px;
    display: flex;
    flex-direction: column;
  }
  
  .faqItem {
    width: calc(50% - 4px);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
