
.back {
    position: absolute;
    width: 400px;
    left: 6px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out
}

.back:hover {
    transform: translateX(28px);
    opacity: 1;
}