.container {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
}

.home {
    position: absolute;
    left: 16px;
    top: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.slider {
    width: 62%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 16px;
}

.slider img {
    width: 62%;
}

.containerForm {
    height: 100vh;
    width: 38%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome h1 {
    font-size: 40px;
    font-weight: bold;
}

.welcome h2 {
    font-size: 32px;
}


.block {
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
}

.back {
    position: absolute;
    width: 400px;
    left: 6px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out
}

.back:hover {
    transform: translateX(28px);
    opacity: 1;
}


